package ${rootPackage}.${moduleName}entity;

import com.baomidou.mybatisplus.annotation.TableId;
import java.time.LocalDateTime;
import com.baomidou.mybatisplus.annotation.TableField;
import java.io.Serializable;
import lombok.Data;
import lombok.EqualsAndHashCode;
import com.fasterxml.jackson.annotation.JsonFormat;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;

@Data
@EqualsAndHashCode(callSuper = false)
public class ${className} implements Serializable {

    private static final long serialVersionUID = 1L;

    #foreach($!tableColumn in $!tableColumns)
        #if( $tableColumn.getJavaType() == "Long" )

    @JsonSerialize(using = ToStringSerializer.class)
        #elseif( $tableColumn.getJavaType() == "LocalDateTime" )
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
        #end
        #if( $tableColumn.getColumnName() == "ID" )
    @TableId("$tableColumn.getColumnName()")
        #else
    @TableField("$tableColumn.getColumnName()")
        #end
    private $tableColumn.getJavaType() $tableColumn.getFieldName();

    #end
}